<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper 파일은 실행할 SQL을 적는 파일-->
<!--생성한 mapper 파일은 mybatis-config.xml에 사용등록을 해야함.-->


<!--namespace 속성에는 사용할 인터페이스의 풀네임을 작성, (패키지 + 인터페이스명을 작성)-->
<mapper namespace="com.study.springStudy.springmvc.chap04.mapper.BoardMapper">

    <!--    id 속성에 인터페이스의 추상메서드명을 적는다.-->
    <insert id ="save">
        INSERT INTO tbl_board
        (title, content, writer) VALUES (#{title}, #{content}, #{writer})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE board_no = #{boardNum}
    </delete>

    <select id="findAll" resultType="board">
        SELECT * FROM tbl_board
        ORDER BY board_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>


    <!--    만약 findOne 메서드에 파라미터가 있다면 파라미터의 값을 적어주는 것.-->
    <select id="findOne" resultType="board">
        SELECT * FROM tbl_board
        WHERE board_no = #{boardNum}
    </select>

    <update id="updateLook">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE board_no = #{boardNo}
    </update>

    <select id = "getCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
    </select>


</mapper>