<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper 파일은 실행할 SQL을 적는 파일-->
<!--생성한 mapper 파일은 mybatis-config.xml에 사용등록을 해야함.-->


<!--namespace 속성에는 사용할 인터페이스의 풀네임을 작성, (패키지 + 인터페이스명을 작성)-->
<mapper namespace="com.study.springStudy.springmvc.chap04.mapper.BoardMapper">

<!-- 동적 SQL 조건을 분리    -->
    <sql id="search">
    <if test="type == 'title' ">
        WHERE title LIKE CONCAT('%',#{keyword},'%')
    </if>
    <if test="type == 'content' ">
        WHERE content LIKE CONCAT('%',#{keyword},'%')
    </if>
    <if test="type == 'writer' ">
        WHERE writer LIKE CONCAT('%',#{keyword},'%')
    </if>
    <if test="type == 'tc' ">
        WHERE title LIKE CONCAT('%',#{keyword},'%')
        OR content LIKE CONCAT('%',#{keyword},'%')
    </if>
    </sql>
    <!--    id 속성에 인터페이스의 추상메서드명을 적는다.-->
    <insert id ="save">
        INSERT INTO tbl_board
        (title, content, writer, account) VALUES (#{title}, #{content}, #{writer}, #{account})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE board_no = #{boardNum}
    </delete>

    <select id="findAll" resultType="com.study.springStudy.springmvc.chap04.dto.BoardFindAllDto">
        SELECT
        B.board_no,
        B.title,
        B.content,
        B.writer,
        B.reg_date_time,
        B.view_count,
        COUNT(R.reply_no) AS reply_count,
        B.account
        FROM tbl_board B
        LEFT OUTER JOIN tbl_reply R
        ON B.board_no = R.board_no
        <include refid="search" />
        GROUP BY B.board_no
        ORDER BY board_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <!--    만약 findOne 메서드에 파라미터가 있다면 파라미터의 값을 적어주는 것.-->
    <select id="findOne" resultType="board">
        SELECT
        B.board_no, B.title, M.name AS writer
        , B.content, B.view_count
        , B.reg_date_time, M.account
        FROM tbl_board B
        LEFT OUTER JOIN tbl_member M
        ON B.account = M.account
        WHERE board_no = #{boardNo}
        ORDER BY board_no DESC
        ;
    </select>

    <update id="updateLook">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE board_no = #{boardNo}
    </update>

    <select id = "getCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
        <include refid="search"/>
    </select>



</mapper>